<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../css/pricing.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">


</head>
<body>
     <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pricifiers</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Account</a>
              </li>
              
            </ul>
            {{!-- <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
          </div>
        </div>
      </nav>

    <div class="main">
        <div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">
  
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <div class="title-h1 text-center"><span class="light">Pricifiers</span></div>
            <p class="text-center"> build your own pricing page </p>
          </div>
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3 col-md-3 pricing-column-wrapper">
         <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <div class="pricing-price">
                    <div class="pricing-cost">$10</div>
                    <div class="time">Per Month</div>
                  </div>
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">tiny</div>
              </div>
              <figure class="pricing-row">Photo sharing school</figure>
              <figure class="pricing-row"><span>Drop out ramen hustle</span></figure>
              <figure class="pricing-row strike">Crush revenue traction</figure>
              <figure class="pricing-row strike">Crush revenue traction</figure>
              <figure class="pricing-row strike">User base minimum viable</figure>
              <figure class="pricing-row strike">Lorem ipsum dolor</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center"><a href="#" class="gem-button gem-green">order now</a></div>
              </div>
            </div>
    </div>
    <div class="col-sm-3 col-md-3 pricing-column-wrapper">
       <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <div class="pricing-price">
                    <div class="pricing-cost">$45</div>
                    <div class="time">Per Month</div>
                  </div>
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">small</div>
              </div>
              <figure class="pricing-row">Photo sharing school</figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Drop out ramen hustle</span></figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Crush revenue traction</span></figure>
              <figure class="pricing-row strike">Crush revenue traction</figure>
              <figure class="pricing-row strike">User base minimum viable</figure>
              <figure class="pricing-row strike">Lorem ipsum dolor</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-purpel">order now</a></div>
              </div>
            </div>
    </div>
    <div class="col-sm-3 col-md-3 pricing-column-wrapper">
      <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <div class="pricing-price">
                    <div class="pricing-cost">$99</div>
                    <div class="time">Per Month</div>
                  </div>
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">medium</div>
              </div>
              <figure class="pricing-row">Photo sharing school</figure>
              <figure class="pricing-row"><span>Drop out ramen hustle</span></figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Crush revenue traction</span></figure>
              <figure class="pricing-row">Crush revenue traction</figure>
              <figure class="pricing-row strike">User base minimum viable</figure>
              <figure class="pricing-row strike">Lorem ipsum dolor</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center">
                  <a class="gem-button gem-orange">order now</a></div>
              </div>
            </div>
    </div>
    <div class="col-sm-3 col-md-3 pricing-column-wrapper">
      <div class="pricing-column">
              <div class="pricing-price-row">
                <div class="pricing-price-wrapper">
                  <div class="pricing-price">
                    <div style=" " class="pricing-cost">$145</div>
                    <div class="time" style="display:inline-block;">Per Month</div>
                  </div>
                </div>
              </div>
              <div class="pricing-row-title">
                <div class="pricing_row_title">large</div>
              </div>
              <figure class="pricing-row">Photo sharing school</figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Drop out ramen hustle</span></figure>
              <figure class="pricing-row"><span style="color: #5f727f;">Crush revenue traction</span></figure>
              <figure class="pricing-row">Crush revenue traction</figure>
              <figure class="pricing-row">User base minimum</figure>
              <figure class="pricing-row strike">Lorem ipsum dolor</figure>
              <div class="pricing-footer">
                <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-yellow">order now</a></div>
              </div>
            </div>
    </div>
  </div>

 </div>
</div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>