<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    {{!-- <link rel="stylesheet" href="../css/style.css"> --}}
    {{!-- <link rel="stylesheet" href="../css/bootstrap.css"> --}}
<title>Pricing Template</title>
<style>
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: white;
    }
    .navbar {
        background-color: rgb(255, 255, 255);
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }
    .nav-links {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: black;
    }
    .nav-links li {
        margin-right: 20px;
        color: black;
    }
     .nav-links li a {
        color: #2C2C54;
        text-decoration: none;
        font-weight: 550;
        padding-left: 20px;
    }

    .nav-links li a:hover {
        color: rgb(96, 96, 96);
    }

    .container {
        display: flex;
        flex: 1;
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 20px 20px;
        overflow: hidden;
    }
.left-panel {
    width: 270px;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    background-color:  #a2a8d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.left-panel h3{
    color: black;
    text-align: center;

}

.options {
    margin-bottom: 20px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.option label {
    width: 140px;
    margin-right: 10px;
    color: black;
}

.option input,
.option select {
    flex: 1;
    width: 100%;
    border-radius: 5px;
}

.option:last-child {
    margin-bottom: 0;
}
 .right-panel {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #2C2C54;
        border-radius: 0px 20px 20px 0px;
    }
    .pricing-table {
        border: 1px solid #2C2C54;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        width: 270px;
        height: 450px;
        margin-top: -10%;
        color: #2C2C54;
        background-color: white;
        margin-top: 5px;
        margin-left: 30px;
    }


    .pricing-table h2:hover {
        text-decoration: underline;
    }
  .pricing-table img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .centered-button {
        margin: 20px auto;
        margin-right: 20px;
    }

    .editable {
        cursor: text;
        border-bottom: 1px dashed #ccc; /* Add a dashed border to indicate the editable area */
    }

    .editable:hover {
        background-color: #f9f9f9; /* Change background color on hover */
    }

    .icon-text-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            border-bottom: 1px dashed #ccc; /* Add a dashed border to indicate the editable area */

        }
  .icon-text-icon i {
            margin-right: 10px;
        }

        /* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: inherit;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  border-radius: 10px;
  z-index: 1;
  margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(218, 218, 218);
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e74c3c;
  --bs-btn-border-color: #e74c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c44133;
  --bs-btn-hover-border-color: #b93d30;
  --bs-btn-focus-shadow-rgb: 235, 103, 89;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b93d30;
  --bs-btn-active-border-color: #ad392d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e74c3c;
  --bs-btn-disabled-border-color: #e74c3c;
}

.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}
.add-feature{
    border:none; 
    border-radius: 5px; 
    color:white; 
    background-color:#2C2C54;
    width: 50px;
    font-size: 20px;
    height: 40px;
    margin-right: 55px;
}

.centered-button{
    border:none; 
    border-radius: 5px; 
    padding: 5px 5px 5px 5px; 
    color:white; 
    background-color:#2C2C54;
    width: 100px;
    height: 40px;
    font-weight: bold;
}
.lbutton{
    color: white; 
    background-color:#2C2C54; 
    border-radius: 5px; 
    width:80px; 
    height: 35px;
    border: none;
    font-weight: bold;
}


</style>


</head>
<body>

<div class="navbar">
    <h1 style="color: #2C2C54; margin-left:60px;">The Pricifiers</h1>
    <ul class="nav-links">
        <li><a href="/users/dashboard">Home</a></li>
        <li><a href="/users/about">About</a></li>
        <li><a href="/users/pricing">Plans</a></li>
        {{!-- <li><a href="/users/contact">Contact</a></li> --}}
        <li class="dropdown">
            <a href="#" class="dropbtn">Templates</a>
            <div class="dropdown-content">
                <a href="http://localhost:9001">Template 1</a>
                <a href="/users/template1">Template 2</a>
                <a href="/users/template1">Template 3</a>
            </div>
        </li>
        <li>
            <form action="/logout" class="d-flex" method="get">
                <button class="lbutton" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>


<div class="container">
    <div class="left-panel">
        <div class="options">
            <h3>BASIC</h3>
            <div class="option">
                <label for="color">Color 1</label>
                <input type="color" id="t1color1" value="#2C2C54">
            </div>
            <div class="option">
                <label for="color">Color 2</label>
                <input type="color" id="t1color2" value="#2C2C54">
            </div>
            <div class="option">
                <label for="heading">Title</label>
                <input type="text" id="t1heading" value="BASIC">
            </div>
            <div class="option">
                <label for="size">Font Size</label>
                <select id="t1size">
                    <option value="small">Small</option>
                    <option value="medium" selected>Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
            <div class="option">
                <label for="photo">Image URL</label>
                <input type="text" id="t1photo" value="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg">
            </div>
            {{!-- <div class="option">
                <label for="t1-button-text">Button Text:</label>
                <input type="text" id="t1-button-text" value="Buy Now">
            </div>
            <div class="option">
                <label for="t1-button-link">Button Link:</label>
                <input type="text" id="t1-button-link" value="#">
            </div> --}}
        </div>

        <div class="options">
            <h3>ADVANCE</h3>

            <div class="option">
                <label for="color"> Color 1</label>
                <input type="color" id="t2color1" value="#2C2C54">
            </div>
            <div class="option">
                <label for="color"> Color 2</label>
                <input type="color" id="t2color2" value="#2C2C54">
            </div>
            <div class="option">
                <label for="heading">Title</label>
                <input type="text" id="t2heading" value="ADVANCE">
            </div>
            <div class="option">
                <label for="size">Font Size</label>
                <select id="t2size">
                    <option value="small">Small</option>
                    <option value="medium" selected>Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
            <div class="option">
                <label for="photo">Image URL</label>
                <input type="text" id="t2photo" value="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg">
            </div>
        </div>

        <div class="options">
            <h3>PREMIUM</h3>

            <div class="option">
                <label for="color"> Color 1</label>
                <input type="color" id="t3color1" value="#2C2C54">
            </div>
            <div class="option">
                <label for="color"> Color 2</label>
                <input type="color" id="t3color2" value="#2C2C54">
            </div>
            <div class="option">
                <label for="heading">Title</label>
                <input type="text" id="t3heading" value="PREMIUM">
            </div>
            <div class="option">
                <label for="size">Font Size</label>
                <select id="t3size">
                    <option value="small">Small</option>
                    <option value="medium" selected>Medium</option>
                    <option value="large">Large</option>
                </select>
            </div>
            <div class="option">
                <label for="photo">Image URL</label>
                <input type="text" id="t3photo" value="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg">
            </div>
        </div>
    </div>

    <div class="right-panel">
        <div class="pricing-table" id="pricing-table-1">
            <img src="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg" alt="Product Image">
            <h2>BASIC</h2>
            <p>$20/month</p>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
            <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
            <button class="add-feature">+</button> <!-- Button to add a new editable paragraph -->
            <button class="centered-button">Buy Now</button>
        </div>
        <div class="pricing-table" id="pricing-table-2">
            <img src="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg" alt="Product Image">
            <h2>ADVANCE</h2>
            <p>$40/month</p>
            <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
            <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>  
            <button class="add-feature">+</button> <!-- Button to add a new editable paragraph -->
            <button class="centered-button">Buy Now</button>
        </div>
        
        <div class="pricing-table" id="pricing-table-3">
            <img src="https://i.pinimg.com/236x/4c/fe/63/4cfe63bc2144516f913fcf9a94b0fc26.jpg" alt="Product Image">
            <h2>PREMIUM</h2>
            <p>$50/month</p>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div>
           <div class="icon-text-icon">
                <i class="fas fa-check-circle" style="color: grey;"></i>
                <span contenteditable="true">Your Features</span>
                <i style="margin-left: 10px; color:#ad392d" class="fas fa-trash"></i>
            </div> 
            <button class="add-feature">+</button> <!-- Button to add a new editable paragraph -->
            <button class="centered-button">Buy Now</button>
        </div>
    </div>
</div>

<script>
    const t1color1Input = document.getElementById('t1color1');
    const t1color2Input = document.getElementById('t1color2');
    const t1headingInput = document.getElementById('t1heading');
    const t1sizeSelect = document.getElementById('t1size');
    const t1photoInput = document.getElementById('t1photo');

    const t2color1Input = document.getElementById('t2color1');
    const t2color2Input = document.getElementById('t2color2');
    const t2headingInput = document.getElementById('t2heading');
    const t2sizeSelect = document.getElementById('t2size');
    const t2photoInput = document.getElementById('t2photo');

    const t3color1Input = document.getElementById('t3color1');
    const t3color2Input = document.getElementById('t3color2');
    const t3headingInput = document.getElementById('t3heading');
    const t3sizeSelect = document.getElementById('t3size');
    const t3photoInput = document.getElementById('t3photo');

    const table1 = document.getElementById('pricing-table-1');
    const table2 = document.getElementById('pricing-table-2');
    const table3 = document.getElementById('pricing-table-3');

    const pricingTables = document.querySelectorAll('.pricing-table');

    document.addEventListener('DOMContentLoaded', function() {
        const addButton = document.querySelector('.add-feature');
        const pricingTable = document.getElementById('pricing-table-1');

        addButton.addEventListener('click', function() {
            // Create a new icon-text-icon div
            const newIconTextIconDiv = document.createElement('div');
            newIconTextIconDiv.classList.add('icon-text-icon');

            // Create the check circle icon
            const checkCircleIcon = document.createElement('i');
            checkCircleIcon.classList.add('fas', 'fa-check-circle');

            // Create the editable span
            const editableSpan = document.createElement('span');
            editableSpan.setAttribute('contenteditable', 'true');
            editableSpan.textContent = 'Includes all features';

            // Create the trash icon
            const trashIcon = document.createElement('i');
            trashIcon.classList.add('fas', 'fa-trash');
            trashIcon.style.marginLeft = '10px';

            // Append elements to the new icon-text-icon div
            newIconTextIconDiv.appendChild(checkCircleIcon);
            newIconTextIconDiv.appendChild(editableSpan);
            newIconTextIconDiv.appendChild(trashIcon);

            // Insert the new icon-text-icon div before the add button
            pricingTable.insertBefore(newIconTextIconDiv, addButton);
        });
    });

    // Function to generate gradient CSS property
    function generateGradient(color1, color2) {
        return `linear-gradient(to bottom right, ${color1}, ${color2})`;
    }

    t1color1Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t1color1Input.value;
            const color2 = t1color2Input.value;
            table1.style.background = generateGradient(color1, color2);
        });
    });

    t1color2Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t1color1Input.value;
            const color2 = t1color2Input.value;
            table1.style.background = generateGradient(color1, color2);
        });
    });

    t2color1Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t2color1Input.value;
            const color2 = t2color2Input.value;
            table2.style.background = generateGradient(color1, color2);
        });
    });

    t2color2Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t2color1Input.value;
            const color2 = t2color2Input.value;
            table2.style.background = generateGradient(color1, color2);
        });
    });

    t3color1Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t3color1Input.value;
            const color2 = t3color2Input.value;
            table3.style.background = generateGradient(color1, color2);
        });
    });

    t3color2Input.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const color1 = t3color1Input.value;
            const color2 = t3color2Input.value;
            table3.style.background = generateGradient(color1, color2);
        });
    });

    t1headingInput.addEventListener('input', () => {
        pricingTables.forEach(table => {
            table1.querySelector('h2').innerText = t1headingInput.value;
        });
    });

    t2headingInput.addEventListener('input', () => {
        pricingTables.forEach(table => {
            table2.querySelector('h2').innerText = t2headingInput.value;
        });
    });

    t3headingInput.addEventListener('input', () => {
        pricingTables.forEach(table => {
            table3.querySelector('h2').innerText = t3headingInput.value;
        });
    });

    t1ButtonTextInput.addEventListener('input', () => {
        t1Button.innerText = t1ButtonTextInput.value;
    });

    t1ButtonLinkInput.addEventListener('input', () => {
        t1Button.href = t1ButtonLinkInput.value;
    });

    t2ButtonTextInput.addEventListener('input', () => {
        t2Button.innerText = t2ButtonTextInput.value;
    });

    t2ButtonLinkInput.addEventListener('input', () => {
        t2Button.href = t2ButtonLinkInput.value;
    });

    t3ButtonTextInput.addEventListener('input', () => {
        t3Button.innerText = t3ButtonTextInput.value;
    });

    t3ButtonLinkInput.addEventListener('input', () => {
        t3Button.href = t3ButtonLinkInput.value;
    });

    sizeSelect.addEventListener('change', () => {
        pricingTables.forEach(table => {
            table.style.fontSize = sizeSelect.value;
        });
    });

    photoInput.addEventListener('input', () => {
        pricingTables.forEach(table => {
            const image = table.querySelector('img');
            image.src = photoInput.value;
        });
    });

    window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.style.display === "block") {
        openDropdown.style.display = "none";
      }
    }
  }
}

</script>

</body>
</html>
